*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */

@supports (-moz-appearance:none) {  /* Фикс для Mozilla */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #D9D9D9 rgb(217 217 217 / 10%);             
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  margin: 133px 30px 133px 30px;
  height: 534px;
  width: 1140px;
  display: grid;
  grid-auto-flow: row;
  align-items: end;
  grid-template-areas: "result" "content_details";
  column-gap: 30px;
  grid-template-columns: 711px 401px; /* Размер 2-го блока чуть больше ради корректного отображения на Mozilla*/
}

/* ВИДЕО + ФОРМА ВВОДА */

.result {
  grid-area: "result";
  width: 711px;
  height: 456px;
  margin-top: 78px;
}

.result__video-container {
  overflow: hidden;
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  display: block;
  margin-bottom: -1px; /* Фикс лишнего пикселя снизу видео для браузеров на Сhromium */
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-form {
  width: 100%;
  height: 54px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
} 

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 5px;
}

.search-form__fieldset {
  border: solid transparent;
}

.search-form__textfield {
  width: 225px;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255, 0.7);
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-right: 0px;
  border-left: 0px;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background-color: transparent;
  margin: 1.5px 5px 1.5px 0px;
  flex-shrink: 0;
  cursor: pointer;
  z-index: -1;
}

.search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
}

.button {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  outline: none;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

/* ЗАГОЛОВОК + СКРОЛЛ */

.content__details {
  grid-area: "content_details";
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  width: 259px;
  height: 210px;
  font-family: 'Oswald';
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 95%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  margin-top: 26px;
  height: 298px;
  overflow: auto;
  overflow-x: hidden;
}

.content__list{
  width: 395px;
  padding: 1px 3px 0px 2px;
}

.content__list-item:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-container, .content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container:focus,
.content__list:focus {
  outline: none;
}

.content_list-item:focus {
  outline: none;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__video-card {
  width: 390px;
  height: 103px;
  display: flex;
  align-items: flex-start;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card-description-container {
  width: 196px;
  height: 103px;
}

.content__video-card:hover  .content__video-card-description-container:hover{
  text-decoration: underline;
}

.content__video-card-title{
  width: 196px;
  font-family: 'Oswald';
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  line-clamp: 4;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button {
  box-sizing: border-box;
  padding: 6px 0 6px 0;
  width: 390px;
  height: 34px;
  margin-bottom: 2px;
}